html{
     background: #f0f8ff;
}

div.navigation, div.body, div.header_title, div.img_title, div.img_title img{
     border:1px;
     border-style: solid;
     border-color: black;
}

div.img_title{
     position:relative;
     width:100%;
     height:100%;
     font-size: 600%;
}

div.img_title img{
     position: relative;
     top:10px;
     left:2px;
     width:20%;
     height:auto;
}


div.navigation ul li{
     list-style-type: none;
}

div.navigation{
     position:absolute;
     width:20%;
}

div.body{
     float:right;
     position:relative;
     width:79%;
     height: 80%;
} 
div.logos img{
     position: relative;
     left:30px;
     width:40%;
     height:auto;
}