
*{
    /*outline: 1px solid;*/
    font-family: 'Noto Serif', serif;
    margin: 0px;
    border: 0px;
}

a:hover, a:visited, a:link {
  text-decoration: none;
  color: black;
}

html, body{
  height: 100%;
  width: 100%;
}

section{
  background-image: url("../imgs/section1_background.jpg");
  height:1000px;
  background-position: center;
  background-size: cover;      
  margin-bottom: 5px;
}

#nav{
  text-align: left;
  list-style-type: none;
  /*position: fixed;*/
  text-align: center;

}

h2{
  text-align: center;
  color: yellow;
  font-size: 50px;
}

footer{
  text-align: center;
}