/*============GLOBAL============ */
*{
    /*outline: 1px solid;*/
    font-family: 'Noto Serif', serif;
    margin: 0px;
    border: 0px;
    list-style-type: none;
}

a:hover, a:visited, a:link {
  text-decoration: none;
  color: black;
}
/*============END GLOBAL============*/

/*============NAV============*/

#stickynav{
  position: fixed;
  width: 100%;
}

#nav, footer{
  background-color: black;
  padding: 10px;
  right: 20%;
}

#nav a, footer {
  color: white;
}

/*============END NAV============*/

/*============SECTION============*/
.section {
  padding-top: 40px;
  height: 895px;
  outline: 1px solid;
/*============END SECTION============*/

}
    /*============SECTION>GREETING============*/
#greeting_hlist, h2{
  text-align: center;
  padding-top: 25px; 
}

.greeting_img{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 3px solid black;
}

.section h2{
  font-size: 50px;
}
/*============END SECTION>GREETING============*/


/*============SECTION>PORTFOLIO============*/

/*============END SECTION>PORTFOLIO============*/


/*============SECTION>CONTACT============*/

/*============END SECTION>CONTACT============*/

footer{
  text-align: center;
}