html {
  background-color: #ffffff;
  color: #000080;
  a: #800080;
  a:visited: #ff0000;
}

#header{
     text-align: center;
     list-style-type: none;
     font-weight: bold;
}

div.left_side{
     text-align: left;
     padding-left:50px;
}

div.right_side{
     position: relative;
     line-height: 20px;
     top: -20px;
     left: 700px;
     text-align: left;
}

li.comments_left{
     font-size:10px;
     list-style-type: none;
}

li.comments_right{
     font-size:10px;
     list-style-type: none;
     text-indent: inherit;
}

ul.list{
     display:block;
     position:relative;
     top:20;
     right:40;
     margin-bottom: 5em;
}

div#geico{
     text-align: center;
     position:relative;
     top: 0px;
     right:15px;
}

div#geico ul li{
     text-align:center;
     list-style-type: none;
     font-size:12px;
}

div.horizontal_line{
     clear:both;
     width:100%;
     background-color: #d1d1d1;
     height:1px;
     margin-top:5px;
     margin-bottom: 5px;
}